*{ 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
/* header part */


#logo .logo-navbar{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    background-color: #faf8f8; 
}

.link{
    display: flex;
    list-style: none;
    gap: 32px;
    
}

.link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 100px;
    color: #000000;
}

.btn {
    padding: 16px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #21a154;
}

#banner{
    max-width: 1600px;
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
    background-image: url(../images/hero-bg.png);
}

.btn-1{
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color:#006d2d ;
    background-color:white;
    border-radius: 20px;

}

.banner-container .head{
    font-size: 70px;
    font-weight: bold;
    color: #ece0e0;
    padding: 24px;
}

.banner-container .Head{
    font-size: 70px;
    font-weight: bold;
    color: #30B868;
    padding-bottom: 20px;
}

.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #f8f2f2;
    padding-bottom: 32px;
}

.btn-2{
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    color: rgb(83, 82, 82);
    background-color: #ece0e0;
}



.notes-section {
    width: 1300px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 40px;
    align-items: center;
    background-color: #F7F6F2;
}

.notes-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.note-paragraph{
    color: #928a8a;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    align-items: center;
    gap: 30px;
    
}

.card {
    background: #fff;
    color: #000;
    padding:  25px;
    /* border: 2px solid wheat; */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px 0 #000000;
    
}

.card img{
    background-color: #F95555;
}


.card h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #001931;
}

.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.circle-section{
    padding: 120px 0 0 0;
    width: 1300px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
}


.solution{
    margin: 150px 50px;
    text-align: left;
    
}

.span{
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    margin-bottom: 16px;
}

.solution h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 75px;
}

.solution ul{
   list-style: none;
    
}

.solution li{
    line-height: 20px;
}

.last-one{
    width: 1300px;
    max-width: 1600px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
}

.one h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.one p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

.prime{
    font-size: 16px;
    color: #627382;
    margin-top: 16px;
}

.last-part{
    width: 1300px;
    max-width: 1600px;
    padding: 80px ;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    background-color: #0a3c70;
}

.last-work{
    display: flex;
    justify-content: space-between;
}

.last-foot h3{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.last{
    font-size: 16px;
    color: #FAFAFA;
    padding: 194px 20px 0;
}